version: "3.9"

services:
  app:
    image: arm32v6/monica:fpm-alpine
    depends_on:
      - db
    environment:
      - APP_KEY=ChangeMeBy32KeyLengthOrGenerated
      - DB_HOST=db
      - DB_USERNAME=monica
      - DB_PASSWORD_FILE=/run/secrets/db_password
    volumes:
      - ./data:/var/www/html/storage
      - ./.env.local:/var/www/html/.env.local
    restart: always
    secrets:
      - db_password

  web:
    build:
      context: 
      dockerfile: web.dockerfile
    ports:
      - 8080:80
    depends_on:
      - app
    volumes:
      - ./data:/var/www/html/storage:ro
    restart: always

  db:
    image: biarms/mysql:5.5.60-linux-arm32v6
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
      - MYSQL_DATABASE=monica
      - MYSQL_USER=monica
      - MYSQL_PASSWORD_FILE=/run/secrets/db_password
    volumes:
      - ./mysql:/var/lib/mysql
    restart: always
    secrets:
       - db_root_password
       - db_password

secrets:
   db_password:
     file: db_user.secret
   db_root_password:
     file: db_root.secret
